div#carbonads {
  max-width: 50em;
  margin: 3em auto -1.5em;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  * {
    margin: 0;
    padding: 0;
  }

  span.carbon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffa;
    border-radius: 4px;
  }

  a.carbon-img {
    img {
      max-height: 7em;
      margin-right: 8px;
    }
  }

  a.carbon-text {
    font-size: 1.5em;
    color: $accent1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.carbon-poweredby {
    position: relative;
    top: -1.3em;
    left: -0.3em;
    float: right;
    color: $accent2;
    text-decoration: none;
    font-style: italic;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
