#carbonads {
  margin-top: 2em;
  max-width: 50em;
  margin: 0 auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  span.carbon-wrap {
    display: flex;
    justify-content: space-around;
  }

  a.carbon-img {
    max-height: 15em;
  }

  a.carbon-text {
    font-size: 1.3em;
    color: $accent1;
    text-decoration: none;
  }

  a.carbon-poweredby {
    float: right;
    color: $accent2;
    text-decoration: none;
    font-style: italic;
  }
}
