div.gallery {
  width: calc(100% - 8px);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 4px;

  img {
    height: 25vh;
    margin-right: 8px;
    border-radius: 2px;
  }
}
