body {
  margin: 0;
  padding: 0;
  background: $dark2;
  color: #fff;
  font-family: $fn-body;
}

h1,
h2,
h3,
h4 {
  font-family: $fn-head;
}

.mobile-only {
  display: none;
}

main {
  max-width: 80em;
  margin: 88px auto 48px auto;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #000000;
  background-color: $dark1;

  a {
    color: $accent1;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h1:first-of-type {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 4px;
    font-weight: bolder;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: normal;
  }

  p {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

footer {
  margin: 8px 0;
  text-align: center;

  a {
    color: $accent2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }

  div#socials {
    a {
      font-size: 2em;
      margin: 0 8px;
      transition: opacity 0.2s;
    }

    a:hover {
      opacity: 0.8;
    }
  }
}
