aside#modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: $dark1;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid $accent2;
  box-shadow: 2px 2px 16px #222;
  z-index: 9999;
  max-width: 50em;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s;

  hr {
      width: 50%;
      margin: 16px auto;
      border: none;
      padding: 1px;
      background-color: #eee;
  }

  a {
    color: $accent1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    white-space: pre-wrap;
  }
}

aside#modal.hidden {
  opacity: 0;
  top: -50vh;
}

aside#modal.shown {
  opacity: 1;
  top: 10%;
}


aside#modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000c;
  z-index: 888;
  transition: all 0.5s;

  p {
    font-size: 1.2em;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fffa;
    background-color: #000a;
    padding: 2px;
    border-radius: 4px;
  }
}

aside#modal-cover.hidden {
  opacity: 0;
  pointer-events: none;
}

aside#modal-cover.shown {
  opacity: 1;
}
