$dark1: #161616;
$dark2: #252525;
$accent1: #923e5b;
$accent2: #4a5798;

$fn-body: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
$fn-head: 'Montserrat', $fn-body;
