<div id="socials">
  <a href="https://github.com/magiccap" title="GitHub Organisation"><i class="fab fa-fa fa-github"></i></a>
  <a href="https://twitter.com/magiccapapp" title="Twitter Account"><i class="fab fa-fa fa-twitter"></i></a>
  <a href="https://discord.gg/jqJzucx" title="Discord Community"><i class="fab fa-fa fa-discord"></i></a>
</div>

<p>&copy; <a href="https://github.com/MagicCap/magiccap.me/contributors">MagicCap Contributors</a>, under the terms of the <a href="https://github.com/MagicCap/magiccap.me/blob/master/LICENSE">MPL</a></p>

<script src="/js/modal.js"></script>
<script src="/js/downloads.js"></script>
<script src="/js/hero-buttons.js"></script>
