<div id="socials">
  <a href="https://github.com/magiccap" title="GitHub Organisation"><i class="fab fa-fa fa-github"></i></a>
  <a href="https://twitter.com/magiccapapp" title="Twitter Account"><i class="fab fa-fa fa-twitter"></i></a>
</div>


<p>&copy; <a href="https://github.com/MagicCap/magiccap.me/contributors">MagicCap Contributors</a>, under the terms of the <a href="https://github.com/MagicCap/magiccap.me/blob/master/LICENSE"><i class="fas fa-balance-scale"></i> MPL</a></p>

<p id="footer-box">
  A <a href="https://dnomaid.co.uk">dnomaid</a> site. Spotted a bug on the website or have a suggestion? <a href="https://github.com/magiccap/magiccap.me/issues">Submit an issue!</a>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/downloads.js"></script>
<script src="/js/hero-buttons.js"></script>
<script src="/js/nodarkreader.js"></script>
