<aside class="hero">
  <a href="/"><img src="/img/logotype.png" alt="MagicCap"></a>
  <h1>A versatile image capture suite for Mac and Linux. </h1>

  <div class="hero-buttons">
    <a href="#" class="b macDwn" id="buttMac"><i class="fab fa-apple"></i> Download for macOS</a>
    <a href="#" class="b linuxDwn" id="buttLinux"><i class="fab fa-linux"></i> Download for Linux</a>
    <p class="mobile-hide"><a onclick="showBoth()" style="cursor: pointer;">not your OS?</a> &bull; <a href="javascript:doModal(`<h2>Beta Versions</h2><pre>Links to beta versions here</pre>`)" style="cursor: pointer;">looking for betas?</a> &bull; <a href="javascript:doModal(`<h2>Changelogs for ${vNum}</h2><pre>${changelog}</pre>`)">changelogs for <span class="latest-v">loading</span></a></p>
    <p class="mobile-only"><a href="javascript:doModal(`<h2>Changelogs for ${vNum}</h2><pre>${changelog}</pre>`)">Changelogs for <span class="latest-v">loading</span></a></p>
  </div>
</aside>
